@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
	font-family: '28days';
	src: url(./28DaysLater.ttf);
}

.btn {
	cursor: pointer;
	border: 0px solid rgb(187, 204, 0);
	font-family: Lato;
	font-size: 36px;
	color: rgb(255, 255, 255);
	padding: 7px 30px;
	transition: all 0ms ease 0s;
	width: 300px;
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
	border-radius: 1px;
	background: rgba(0, 0, 0, 0.59);
	--hover-width: 300px;
	--hover-borderSize: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	--hover-color: #ff0000;
	--hover-bgc: #000000;
	margin: auto;
}

.btn:hover {
	color: rgb(255, 0, 0);
	width: 300px;
	background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
	border-color: rgb(204, 0, 105);
	border-width: 0px;
	border-style: solid;
}

html {
	background-image: url(./images/background.jpg);
	background-size: cover;
	background-color: rgb(0, 0, 53);
	font-family: '28days';
	background-repeat: no-repeat;
	height: 100%;
}

figure {
	border: thin #c0c0c0 solid;
	display: flex;
	flex-flow: column;
	padding: 80px;
	max-width: 720px;
	margin: auto;
	background-color: rgb(22, 22, 22);
}

img {
	width: 720px;
	height: 272px;
}

h1 {
	font-size: 70px;
	text-align: center;
}

#skips {
	text-align: center;
	font-size: 40px;
	display: flex;
	flex-flow: column;
	margin: auto;
}

#guessForm {
	display: flex;
	flex-flow: column;
	margin: auto;
	width: 200px;

}

#submitButton {
	font-family: '28days';
	font-size: xx-large;
	width: 70%;
	margin: auto;
	margin-top: 5px;
}

#newGameButton {
	display: flex;
	flex-flow: column;
	font-family: '28days';
	font-size: xx-large;
	width: 70%;
	margin: auto;
	padding: 3px;
	width: 200px;
}