@font-face {
	font-family: '28days';
	src: url(./28DaysLater.ttf);
}

html {
	background-image: url(./images/background.jpg);
	background-size: cover;
	background-color: rgb(0, 0, 53);
	font-family: '28days';
	background-repeat: no-repeat;
	height: 100%;
}

figure {
	border: thin #c0c0c0 solid;
	display: flex;
	flex-flow: column;
	padding: 80px;
	max-width: 720px;
	margin: auto;
	background-color: rgb(22, 22, 22);
}

img {
	max-width: 720px;
	max-height: 400px;
}

h1 {
	font-size: xxx-large;
	text-align: center;
}

#playButton {
	background-color: #555555;
	border-color: #c0c0c0;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-family: '28days';
	font-size: x-large;
	display: flex;
	flex-flow: column;
	margin: auto;
}

#guessForm {
	display: flex;
	flex-flow: column;
	margin: auto;
	width: 200px;

}

#submitButton {
	font-family: '28days';
	font-size: xx-large;
	width: 70%;
	margin: auto;
	margin-top: 5px;
}

#newGameButton {
	display: flex;
	flex-flow: column;
	font-family: '28days';
	font-size: xx-large;
	width: 70%;
	margin: auto;
	padding: 3px;
	width: 200px;
}